.up_panel{
    display: flex;
    justify-content: space-between;
}
.down_panel{
    display: flex;
    height: 20px;
    justify-content: right;
    padding-block: 10px;
}
.grey_heart{
    border: none;
}
.grey_heart:hover{
cursor: pointer;
}

@media (min-width:900px){
.panel-back{
    background: url("../../img/background.svg");
}
}


@media (max-width:900px){

    .vkui, .vkui>body {
        background: url("../../img/background.svg");
    }
}

    
