.qwerty{
    background-color: #D9D9D9;
    width: 312px;
    height: 65px;
    border-radius: 5px;
    font-size: 16px;
    color: black;
    margin: 5px;
    align-items: center;
}
.Modal_button{
    background: #094204;
    size: l;
}
.Modal_button:hover{
    background-color:#094204;
    
}
.Panel{
    height: 850px;
}
.panel-back{
    background: url("../../img/background.svg")
}